.content_first {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 15px 0 0 0;

  .tablist {
    width: 200px;
    height: 28px;
    text-align: center;
    min-width: 100px;
    list-style: none;
    text-transform: uppercase;
    background: inherit;
    color: #6e6893;
    transition: color 200ms ease-in;
    cursor: pointer;

    ul {
      li.styles_tablist__23c1E.react-tabs__tab--selected {
        color: rgb(6, 0, 34) !important;
      }
    }
  }

  .tablist + .tablist {
    //margin-left: 50px;
  }
}
.content_first_unic_tab {
  background-color: inherit !important;
  border-top: none !important;
}
.content_first_unic_tab,
.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 15px 0 0 0;
  background-color: #dfdddd;
  border-top: solid #c6c2de 2px;
  border-bottom: solid #c6c2de 2px;

  .tablist {
    font-size: 16px;
    min-height: 28px;
    text-align: center;
    min-width: 200px;
    list-style: none;
    text-transform: uppercase;
    background: inherit;
    color: #6e6893;
    transition: color 200ms ease-in;
    cursor: pointer;

    ul {
      li.styles_tablist__23c1E.react-tabs__tab--selected {
        color: rgb(6, 0, 34) !important;
      }
    }
  }

  .tablist + .tablist {
    //margin-left: 50px;
  }
}

.spacing {
  width: 500px;
  display: flex;
  justify-content: flex-start;
}
